@mixin borderRadius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transformTranslate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(220, 220, 220);
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
    background-color: rgb(180, 180, 180);
    @include borderRadius(10px);
    &:hover {
        background: rgb(130, 130, 130);
    }
}

input[type=text].Username {
    background-image: url(../images/Username.PNG);
    background-size: 25px;
    background-position: 9px 8px;
    background-repeat: no-repeat;
}

input[type=password].Password {
    background-image: url(../images/Password.PNG);
    background-size: 20px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
}

input[type=text].Username,
input[type=text].Email,
input[type=password].Password {
    width: 200px;
    background-color: rgb(230, 230, 230);
    @include borderRadius(10px);
    height: 40px;
    padding-left: 40px;
    border-style: none;
    border-color: rgb(220, 220, 220);
    text-decoration-color: rgb(170, 170, 170);
    text-transform: uppercase;
    -moz-text-decoration-color: rgb(170, 170, 170);
}

button[type=submit],
button[type=button],
button[type=reset] {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    &:hover {
        background-color: rgb(90, 90, 90);
    }
}

textarea:focus,
input:focus {
    outline: none;
}